<link rel="stylesheet" href="/public/custom.css">
<footer class="page-footer lime">

            <p style="text-align:right;">Created by Alejandro Urdiales - Copyright© {{getCurrentYear}}</p>

<script type="text/javascript">
$(document).ready(function() {
$('select').material_select();
});
</script>
</footer>
