<head>
  <script type="text/javascript" src="/styles/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/styles/materialize/dist/css/materialize.min.css">
  <script src="/styles/materialize/dist/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<header>
  <nav>
    <div class="nav-wrapper lime ">
      <a href="#" class="brand-logo"><img src="/public/asserts/nodejs.png" width="60px" alt="node logo"></a> <!-- here will go the logo that you must set on /public/asserts -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ><a href="/" class="black-text">Home page</a></li>
        <li><a href="/about" class="black-text">About page</a></li>
        <li><a href="/form" class="black-text">Form page</a></li>
      </ul>
    </div>
  </nav>
</header>
