<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>{{title}}</title>
</head>

<body>

  {{> header}}
  <div class="container">

    <h1 >{{title}}</h1>
    <div class="container">


      <p>This is the home page, here you can post the principal information of your <strong>site</strong></p>
        <a class="btn lime darken-3" onclick="Materialize.toast('Alert message!!', 3000, 'rounded red')">Alert style message</a>
    </div>



  </div>
  {{> footer}}


</body>

</html>
